footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

footer a:hover {
    color: #00F; /* Change color on hover */
}
